.App {
  text-align: center;
}
img {
  margin: auto;
  cursor: pointer;
  padding: 10px;
}

.bar {
  transform: translateY(50vh);
}

.barClicked {
  padding: 20px !important;
  transition: transform 0.6s;
  transform: translateY(0);
}
input,
.input {
  background: rgb(73, 64, 64) !important;
  color: white !important;
  width: 50%;
}
.grid {
  background: grey;
}
.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
